<div class='main'>
  <%= link_to 'click to text jin', { action: 'send_text_message', controller: 'send_text_controller'} %>
  <h2>curbside</h2>
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
</div>

